//example: $Brightorange: hsl(31, 77%, 52%);
// Primary

$StrongCyan: hsl(171, 66%, 44%);
$StrongCyan2: hsl(171, 65%, 31%);
$LightBlue: hsl(233, 100%, 69%);
$LightBlue2: hsl(233, 44%, 41%);

// Neutral

$DarkGrayishBlue: hsl(210, 10%, 33%);
$GrayishBlue: hsl(201, 11%, 66%);